@(person: Form[CreatePersonForm], people: Seq[Person], offices: Map[String,String],message:Option[String] = None )(implicit messages: Messages)

@import helper._

@main("Welcome to WhoIsWho") {


<table id="persons" >
    <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Short Description</th>
        <th>Actions</th>
    </tr>
    @for(person <- people) {
    <tr>
        <td><a href='@routes.PersonController.getDetailedPerson(person.id)'>@person.name</a></td>
        <td><img class="photo" src="@routes.PersonController.giveMePicture(person.photo)" alt="your image" onerror="this.src='@routes.Assets.versioned("images/ali.jpeg")'"/></td>
        <td>@(if (person.description.toString.length>50)
            person.description.toString.take(50)+"..."
            else
            person.description.toString)
        </td>
        <td>
            <!--@form(routes.PersonController.deletePerson(person.id)) {-->
            <!--<div class="buttons">-->
                <!--<input type="submit" value="Delete Person"/>-->
            <!--</div>-->
            <!--}-->
            <!--@form(routes.PersonController.editPerson(person.id)) {-->
            <!--<div class="buttons">-->
                <!--<input type="submit" value="Edit Person"/>-->
            <!--</div>-->
            <!--}-->

            <a id="@person.id" href="@routes.PersonController.deletePerson(person.id)"><button>Delete Person</button></a>
            <a id="@person.id" href="@routes.PersonController.editPerson(person.id)"><button>Edit person</button></a>
        </td>
    </tr>
    }
</table>
@personData(person, offices,routes.PersonController.addPerson())
}



