@(username: String, form: Form[Person], people: Seq[Person], countAll: Int, countRotterdam: Int, countMontevrain: Int, office: String = "all")(implicit messages: Messages)

@main("WhoIsWho", username) {


  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left:0px">
      <!-- Content Header (Page header) -->
      <section class="content-header">


      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          @menu(office, countAll, countRotterdam, countMontevrain)
          <div class="col-md-9">
            <div class="box box-primary">
              <div class="box-header with-border">


                <h3 class="box-title">People in Lunatech</h3>
                <div class="box-tools pull-right">
                  <div class="has-feedback">
                    <input id="search" type="text" class="form-control input-sm" placeholder="Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </div><!-- /.box-tools -->
              </div><!-- /.box-header -->


              <div class="box-body no-padding">

                <div class="table-responsive mailbox-messages">
                  <table class="table table-hover table-striped">
                    <tbody>
                      @for(person <- people) {
                      <tr>
                          <td><a href="@controllers.routes.PersonController.edit(person.id.get)">@person.name</a></td>
                          <td><a href="">@person.phone</a></td>
                          <td class="pitch">


                            <img id="photos-@person.id.get" style="max-width:140px" class="photo" src="@controllers.routes.PersonController.getImage(person.photo.getOrElse(""))" onerror="this.src='@routes.Assets.versioned("images/unknown_user.png")'" />

                            <form id="mydropzone-@person.id.get" action="/images" class="dropzone dz-clickable dz-started" method="POST">
                                <input type="hidden" name="id" value="@person.id.get">
                            </form>
                            <style>
                            .pitch:hover .dropzone {
                              opacity:1;
                            }
                            .pitch:hover .photo {
                              opacity:0.7;
                            }

                            .pitch {
                              position:relative;
                            }

                            .dropzone {
                              position: absolute;
                              bottom: 0;left: 0; top: 20px; right: 0;
                              opacity:0;
                            }
                            </style>
                            <script>
                              jQuery(function() {
                            Dropzone.autoDiscover = false;
                            var myDropzone = new Dropzone("#mydropzone-@person.id.get", { url: "/images?id=@person.id.get",
                              previewsContainer: "#photos-@person.id.get",
                              createImageThumbnails: false,
                              init: function() {
                                 // Add input hidden input field
                                 this.on("complete", function(file) {
                                   //$("#photos li").remove();
                                   var reader = new FileReader();
                                    reader.onload = function (e) {
                                      console.log("updating @person.id.get");
                                        $('#photos-@person.id.get').attr('src', e.target.result);
                                    }
                                    reader.readAsDataURL(file);
                                  });
                                },

                              dictDefaultMessage: "<div style=\"text-align:center\">Drop your picture here<br><i style='font-size: 32pt' class=\"fa fa-cloud-upload\"></i><br></div>",
                              previewTemplate: '<li><div class="dz-preview dz-file-preview"><div class="dz-details"><img style="max-width:440px" class="photo" data-dz-thumbnail /></div></div></li>'
                            });
                          });
                          </script>
                          </td>
                          <td><p style="white-space:pre-line">@person.description.toString</p>
                          </td>
                        </tr>
                      }


                    </tbody>
                  </table><!-- /.table -->
                </div><!-- /.mail-box-messages -->
              </div><!-- /.box-body -->
              <div class="box-footer no-padding">

              </div>
            </div><!-- /. box -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section><!-- /.content -->

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add an employee</h4>
            </div>
            <div class="modal-body">
              @if(form("id").value) {
                <form id="newPerson" action="@routes.PersonController.update(form("id").value.get.toLong)" method="POST" enctype="multipart/form-data">
              } else {
                <form id="newPerson" action="@routes.PersonController.create()" method="POST" enctype="multipart/form-data">
              }
                <input type="hidden" name="id" value="@form("id").value">
                <div class="form-group @if(form.errors("name").nonEmpty){has-error}">
                  <label for="fullname">Full name</label>
                  <input type="text" class="form-control" name="name" id="fullname" value="@form("name").value" placeholder="Fullname">
                  @if(form.errors("name").nonEmpty){ <span class="help-block"> @form.errors("name").map(_.messages.map(messages(_))).flatten.mkString(",") </span> }
                </div>
                <div class="form-group @if(form.errors("email").nonEmpty){has-error}">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" id="email" value="@form("email").value" placeholder="Email">
                  @if(form.errors("email").nonEmpty){ <span class="help-block"> @form.errors("email").map(_.messages.map(messages(_))).flatten.mkString(",") </span> }
                </div>
                <div class="form-group @if(form.errors("role").nonEmpty){has-error}">
                  <label for="role">Role</label>
                  <input type="role" class="form-control" name="role" id="role" value="@form("role").value" placeholder="Role">
                  @if(form.errors("role").nonEmpty){ <span class="help-block"> @form.errors("role").map(_.messages.map(messages(_))).flatten.mkString(",") </span> }
                </div>
                <div class="form-group @if(form.errors("phone").nonEmpty){has-error}">
                  <label for="phone">Phone</label>
                  <input type="text" class="form-control" name="phone" id="phone" value="@form("phone").value" placeholder="Phone">
                  @if(form.errors("phone").nonEmpty){ <span class="help-block"> @form.errors("phone").map(_.messages.map(messages(_))).flatten.mkString(",") </span> }
                </div>
                <div class="form-group @if(form.errors("location").nonEmpty){has-error}">
                  <select id="location" name="location" class="form-control"
                value="" />
                    <option @if(form("location").value.getOrElse("")=="rotterdam"){selected} value="rotterdam">Rotterdam</option>
                    <option @if(form("location").value.getOrElse("")=="montevrain"){selected} value="montevrain">Montevrain</option>
                  </select>
            </select>

                </div>
                <div class="form-group @if(form.errors("decription").nonEmpty){has-error}">
                  <label for="description">Description</label>
                  <textarea style="height:220px" type="text" class="form-control" name="description" id="description" placeholder="Description">@form("description").value</textarea>
                  @if(form.errors("description").nonEmpty){ <span class="help-block"> @form.errors("description").map(_.messages.map(messages(_))).flatten.mkString(",") </span> }
                </div>
              </form>


            </div>
            <div class="modal-footer">
              @if(form("id").value) {
                <button class="btn btn-danger">Delete person</button>
                <button onclick="$('#newPerson').submit();" class="btn btn-primary">Update person</button>
              } else {
                <button onclick="$('#newPerson').submit();" class="btn btn-primary">Add person</button>

              }
            </div>
          </div>
        </div>

      </div>
    </div>
    <script>
      jQuery(function() {
        @if(form.hasErrors || form.value.isDefined) {
          jQuery('#myModal').modal('show');
        }
        // When model close
        $('#myModal').on('hidden.bs.modal', function (e) {
           window.location.href = "/";
        })
        $("#search").on('keyup', function(e) {
          var query = $("#search").val();
          console.log(query);
          // Look into our table for matching name and hide the rest
          $(".table tbody tr").hide();
          $(".table tbody td:first-child").filter(function() {
            console.log($(this).text().toLowerCase());
            return $(this).text().toLowerCase().indexOf(query) !== -1;
          }).parent().show();
        });

      });
    </script>
}
